<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedSharpAdbClient" version="2.5.2" targetFramework="net472" />
  <package id="Bespoke.Common" version="1.0.0" targetFramework="net472" />
  <package id="Bespoke.Osc" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="OpenRGB.NET" version="1.7.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
</packages>